<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default" >
<head>
    <meta charset="UTF-8">
    <title>Quản lý đơn hàng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="../images/shoes.png">
    <!-- Thêm Line Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
    <!-- Thêm Material Design Icons CDN -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- Thêm Feather Icon CND -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- Thêm Remix Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Thêm link tới Boxicons CDN -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- jsvectormap css -->
    <link href="../css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="../css/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="../js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    n<!-- Icons Css -->
    <link href="../css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="../css/custom.min.css" rel="stylesheet" type="text/css" />
    <style>
        .circle {
            width: 80px; /* Tăng kích thước hình tròn */
            height: 80px; /* Tăng kích thước hình tròn */
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; /* Ẩn phần hình ảnh thừa nếu lớn hơn hình tròn */
            margin-bottom: 10px;
        }

        .circle-img {
            width: 50%; /* Kích thước hình ảnh bên trong */
            height: 50%; /* Căn chỉnh hình ảnh bên trong */
            object-fit: cover; /* Căn chỉnh hình ảnh để không bị méo */
        }

        .bg-success {
            background-color: #7bb6ea !important; /* Màu xanh */
        }

        .bg-danger {
            background-color: #e5818b !important; /* Màu đỏ */
        }
    </style>
</head>
<body>
<!-- Begin page -->
<div id="layout-wrapper">

    <header id="page-topbar">
        <div class="layout-width">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box horizontal-logo">
                        <a href="/trangchuadmin" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="../images/shoes.png" alt="" height="22">
                        </span>
                            <span class="logo-lg">
                            <h1 class="mt-3" style="color: #abb9e8">FSneaker</h1>
                        </span>
                        </a>

                        <a href="/trangchuadmin" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="../images/shoes.png" alt="" height="22">
                        </span>
                            <span class="logo-lg">
                            <h1 class="mt-3" style="color: #abb9e8">FSneaker</h1>
                        </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger material-shadow-none" id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    </button>
                </div>

                <div class="d-flex align-items-center">
                    <div class="dropdown ms-sm-3 header-item topbar-user" th:if="${#authentication.name != 'anonymousUser'}">
                        <button type="button" class="btn material-shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img class="rounded-circle header-profile-user" src="../images/users/avatar-1.jpg" alt="Header Avatar">
                            <span class="text-start ms-xl-2">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text" th:text="${#authentication.principal.displayName}"></span>
                                <span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text" th:text="${#authentication.principal.role == 'ROLE_ADMIN' ? 'Admin' : (#authentication.principal.role == 'ROLE_MANAGER' ? 'Quản lý' : 'Nhân viên')}">Trưởng nhóm</span>
                            </span>
                        </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" th:if="${#authentication.name != 'anonymousUser'}">
                            <!-- item-->
                            <h6 class="dropdown-header" >Xin chào <span th:text="${#authentication.principal.displayName}"></span></h6>
                            <a class="dropdown-item" href="/thongtinadmin"><i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Thông tin cá nhân</span></a>
                            <a class="dropdown-item" href="/tinnhanadmin"><i class="mdi mdi-message-text-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Tin nhắn</span></a>
                            <a class="dropdown-item" href="/trogiupadmin"><i class="mdi mdi-lifebuoy text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Trợ giúp</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/caidatadmin"><span class="badge bg-success-subtle text-success mt-1 float-end">New</span><i class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Cài đặt</span></a>
                            <a class="dropdown-item" href="/khoamanhinhadmin"><i class="mdi mdi-lock text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Khóa màn hình</span></a>
                            <a class="dropdown-item" href="/logout"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Đăng xuất</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="/trangchuadmin" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="../images/shoes.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                       <h1 class="mt-3" style="color: #abb9e8">FSneaker</h1>
                    </span>
            </a>
            <!-- Light Logo-->
            <a href="/trangchuadmin" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="../images/shoes.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <h1 class="mt-3" style="color: #abb9e8">FSneaker</h1>
                    </span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar">
            <div class="container-fluid">


                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item" sec:authorize="hasRole('MANAGER')">
                        <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Thống kê</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarDashboards">
                            <ul class="nav nav-sm flex-column">


                                <li class="nav-item">
                                    <a href="/trangchuadmin" class="nav-link" data-key="t-ecommerce"> Doanh thu </a>
                                </li>
                            </ul>
                        </div>
                    </li> <!-- end Dashboard Menu -->
                    <li class="nav-item" sec:authorize="hasRole('MANAGER')">
                        <a class="nav-link menu-link" href="#sidebarApps" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApps">
                            <i class="ri-apps-2-line"></i> <span data-key="t-apps">Quản lý</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarApps">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="#sidebarCalendar" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCalendar" data-key="t-calender">
                                        Quản lý thuộc tính
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarCalendar">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="/qlkichthuoc" class="nav-link" data-key="t-main-calender"> Kích thước</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/qlmausac" class="nav-link" data-key="t-month-grid"> Màu sắc </a>
                                            </li>
                                            <li class="nav-item">

                                                <a href="/qlthuonghieu" class="nav-link" > Thương hiệu </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/qlxuatxu" class="nav-link"> Xuất xứ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="/qlsanpham" class="nav-link" data-key="t-sanpham">Quản lý sản phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/qlvoucher" class="nav-link" data-key="t-voucher"> Quản lý voucher </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/qlkhuyenmai" class="nav-link" data-key="t-khuyenmai"> Quản lý chương trình khuyến mãi </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyRole('MANAGER','STAFF')">
                        <a class="nav-link menu-link" href="/don-hang/hien-thi">
                            <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Bán hàng</span>
                        </a>

                    </li> <!-- end Dashboard Menu -->
                    <li class="nav-item"  sec:authorize="hasAnyRole('MANAGER','STAFF')">
                        <a class="nav-link menu-link" href="/donhangadmin">
                            <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Đơn hàng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuth">
                            <i class="ri-account-circle-line"></i> <span data-key="t-auth">Tài khoản</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarAuth">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','MANAGER')">
                                    <a href="/qlnhanvien" class="nav-link" data-key="t-nhanvien"> Nhân viên </a>
                                </li>
                                <li class="nav-item" sec:authorize="hasAnyRole('MANAGER','STAFF')">
                                    <a href="/qlkhachhang" class="nav-link" data-key="t-khachang"> Khách hàng </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item" hidden="true">
                        <a class="nav-link menu-link" href="#sidebarIcons" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarIcons">
                            <i class="ri-compasses-2-line"></i> <span data-key="t-icons">Icons</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarIcons">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="icons-remix.html" class="nav-link"><span data-key="t-remix">Remix</span> <span class="badge badge-pill bg-info">v3.6</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="icons-boxicons.html" class="nav-link"><span data-key="t-boxicons">Boxicons</span> <span class="badge badge-pill bg-info">v2.1.4</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="icons-materialdesign.html" class="nav-link"><span data-key="t-material-design">Material Design</span> <span class="badge badge-pill bg-info">v7.2.96</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="icons-lineawesome.html" class="nav-link" data-key="t-line-awesome">Line Awesome</a>
                                </li>
                                <li class="nav-item">
                                    <a href="icons-feather.html" class="nav-link"><span data-key="t-feather">Feather</span> <span class="badge badge-pill bg-info">v4.29.1</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="icons-crypto.html" class="nav-link"> <span data-key="t-crypto-svg">Crypto SVG</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- Sidebar -->
        </div>

        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="card">
                    <h4 style="padding: 10px" class="text-muted mb-3" >Danh sách hóa đơn / Hóa đơn <span class="text-primary" th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.maDonHang != null ? dataDHCT[0].donHang.maDonHang : '...'}"></span></h4>
                    <div class="container mt-5">
                        <div class="d-flex justify-content-center align-items-center position-relative">
                            <!-- Trường hợp 1: dataLSDH rỗng hoặc null -->
                            <div th:if="${dataLSDH == null or dataLSDH.isEmpty()}">
                                <!-- Nếu loại đơn hàng là 'Bán hàng tại quầy' -->
                                <div th:if="${dataDHCT != null and !dataDHCT.isEmpty() and dataDHCT[0].donHang != null and dataDHCT[0].donHang.loaiDonHang == 'Bán hàng tại quầy' and dataDHCT[0].donHang.trangThai == 'Đã thanh toán'}" class="step text-center">
                                    <div class="circle mx-auto bg-success text-white">
                                        <img src="/images/iconsucess.png" alt="Hoàn thành" class="circle-img">
                                    </div>
                                    <p class="mb-0 fw-bold fs-6 text-success">Hoàn thành</p>
                                    <small th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.ngayTao != null ? dataDHCT[0].donHang.ngayTao : 'Chưa có thông tin'}"></small>
                                </div>

<!--                                 Nếu loại đơn hàng là 'Bán hàng tại quầy'  và đã huỷ-->
                                <div th:if="${dataDHCT != null and !dataDHCT.isEmpty() and dataDHCT[0].donHang != null and dataDHCT[0].donHang.loaiDonHang == 'Bán hàng tại quầy' and dataDHCT[0].donHang.trangThai == 'Đã hủy'}" class="step text-center">
                                    <div class="circle mx-auto bg-danger text-white">
                                        <img src="/images/ionhuy.png" alt="Hoàn thành" class="circle-img">
                                    </div>
                                    <p class="mb-0 fw-bold fs-6 text-danger">Đã huỷ</p>
                                    <small th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.ngayTao != null ? dataDHCT[0].donHang.ngayTao : 'Chưa có thông tin'}">Giao dịch tại quầy</small>
                                </div>

                                <!-- Nếu không phải 'Bán hàng tại quầy', hiển thị 'Chờ xác nhận' -->
                                <div th:if="${dataDHCT == null or dataDHCT.isEmpty() or dataDHCT[0].donHang == null or dataDHCT[0].donHang.loaiDonHang != 'Bán hàng tại quầy'}" class="step text-center">
                                    <div class="circle mx-auto bg-success text-white">
                                        <img src="/images/icon!.png" alt="Chờ xác nhận" class="circle-img">
                                    </div>
                                    <p class="mb-0 fw-bold fs-6 text-success">Chờ xác nhận</p>
                                    <small th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.ngayTao != null ? dataDHCT[0].donHang.ngayTao : 'Chưa có thông tin'}">Chưa có thông tin</small>
                                </div>
                            </div>

                            <!-- Trường hợp 2: dataLSDH không rỗng -->
                            <div th:if="${dataLSDH != null and !dataLSDH.isEmpty()}" th:each="step, iterStat : ${dataLSDH}">
                                <!-- Hiển thị trạng thái cuối cùng trong dataLSDH -->
                                <div class="step text-center" th:if="${iterStat.last}">
                                    <div class="circle mx-auto"
                                         th:classappend="${step.trangThaiMoi == 'Đã hủy'} ? 'bg-danger text-white' : 'bg-success text-white'">
                                        <img th:src="${step.trangThaiMoi == 'Đã hủy' ? '/images/ionhuy.png' : (step.trangThaiMoi == 'Đã thanh toán' ? '/images/iconsucess.png' : '/images/icon!.png')}"
                                             alt="Trạng thái" class="circle-img">
                                    </div>
                                    <p class="mb-0 fw-bold fs-6"
                                       th:text="${#strings.isEmpty(step.trangThaiMoi) ? 'Chờ xác nhận' : step.trangThaiMoi}"
                                       th:classappend="${step.trangThaiMoi == 'Đã hủy'} ? 'text-danger' : 'text-success'">
                                    </p>
                                    <small th:text="${#strings.isEmpty(step.ngaySua) ? 'Chưa có thông tin' : step.ngaySua }"></small>
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <div class="col">
                            <div class="d-flex justify-content-between align-items-center" th:if="${dataDHCT != null and dataDHCT.size() > 0}">
                                <div class="d-flex">
                                    <!-- Nút Xác nhận -->
                                    <form th:action="@{/donhangadmin-detail/{orderId}/confirm(orderId=${dataDHCT[0].donHang.id})}" method="post" onsubmit="return confirmAction('Bạn có chắc chắn muốn xác nhận đơn hàng này?')">
                                        <button class="btn btn-primary" type="submit" th:if="${dataDHCT[0].donHang.trangThai == 'Đang chờ' || dataDHCT[0].donHang.trangThai == 'Đang xử lý' || dataDHCT[0].donHang.trangThai == 'Chờ xác nhận'}">Xác nhận</button>
                                    </form>

                                    <!-- Nút Vận chuyển -->
                                    <form th:action="@{/donhangadmin-detail/{orderId}/ship(orderId=${dataDHCT[0].donHang.id})}" method="post" onsubmit="return confirmAction('Bạn có chắc chắn muốn vận chuyển đơn hàng này?')">
                                        <button class="btn btn-primary" type="submit" th:if="${dataDHCT[0].donHang.trangThai == 'Chờ giao'}">Vận chuyển</button>
                                    </form>

                                    <!-- Nút Thanh toán -->
                                    <form th:action="@{/donhangadmin-detail/{orderId}/pay(orderId=${dataDHCT[0].donHang.id})}" method="post" onsubmit="return confirmAction('Bạn có chắc chắn muốn thanh toán đơn hàng này?')">
                                        <button class="btn btn-primary" type="submit" th:if="${dataDHCT[0].donHang.trangThai == 'Đang giao'}">Thanh toán</button>
                                    </form>

                                    <!-- Nút Hủy -->
                                    <form th:action="@{/donhangadmin-detail/{orderId}/huy(orderId=${dataDHCT[0].donHang.id})}" method="post" onsubmit="return confirmAction('Bạn có chắc chắn muốn hủy đơn hàng này?')">
                                        <button style="margin-left: 50px" class="btn btn-danger" type="submit" th:if="${dataDHCT[0].donHang.trangThai == 'Đang chờ' || dataDHCT[0].donHang.trangThai == 'Đang giao' || dataDHCT[0].donHang.trangThai == 'Chờ giao' || dataDHCT[0].donHang.trangThai == 'Đang xử lý' || dataDHCT[0].donHang.trangThai == 'Chờ xác nhận'}">Huỷ</button>
                                    </form>
                                </div>
                                <div>
                                    <!-- Nút Chi tiết -->
                                    <button class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#historyModal">
                                        Chi tiết
                                    </button>

                                    <!-- Modal Lịch Sử -->
                                    <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="historyModalLabel">Lịch Sử Đơn Hàng</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Hiển thị danh sách lịch sử -->
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Mã đơn hàng</th>
                                                            <th>Trạng thái cũ</th>
                                                            <th>Trạng thái mới</th>
                                                            <th>Ngày sửa</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="lsdh, stat : ${dataLSDH}">
                                                            <td th:text="${stat.index + 1}"></td>
                                                            <td th:text="${lsdh.donHang.maDonHang}"></td>
                                                            <td th:text="${lsdh.trangThaiCu}"></td>
                                                            <td th:text="${lsdh.trangThaiMoi}"></td>
                                                            <td th:text="${lsdh.ngaySua}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div th:if="${#lists.isEmpty(dataLSDH)}">
                                                        <p>Không có lịch sử đơn hàng nào!</p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p th:if="${dataDHCT == null or dataDHCT.size() == 0}">
                                Không có dữ liệu chi tiết đơn hàng.
                            </p>
                        </div>

                    </div>

                    <div class="container mt-4">
                        <!-- Thông tin đơn hàng -->
                        <hr>
                        <div class="row mb-4">
                            <h5 class="text-danger">THÔNG TIN ĐƠN HÀNG</h5>
                            <br><br><br>
                            <div class="col">
                                <p>Trạng thái:
                                    <span class="text-danger"
                                          th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.trangThai != null ? dataDHCT[0].donHang.trangThai : '...'}">
                                    </span>
                                </p>
                                <p>Mã đơn hàng:
                                    <span class="text-danger"
                                          th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.maDonHang != null ? dataDHCT[0].donHang.maDonHang : '...'}">
                                    </span>
                                </p>
                                <p>Loại đơn hàng:
                                    <span class="text-danger"
                                          th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.loaiDonHang != null ? dataDHCT[0].donHang.loaiDonHang : '...'}">
                                    </span>
                                </p>
                            </div>
                            <div class="col">
                                <p>Phí vận chuyển:
                                    <span class="text-danger">
                                    </span>
                                </p>
                                <p>Tổng tiền:
                                    <span class="text-danger"
                                          th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.tongTien != null ? dataDHCT[0].donHang.tongTien : '...'}">
                                    </span>
                                </p>
                                <p>Phải thanh toán:
                                    <span class="text-danger"
                                          th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.tongTien != null ? dataDHCT[0].donHang.tongTien : '...'}">
                                    </span>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <!-- Thông tin khách hàng -->
                        <div class="row mb-4">
                            <h5 class="text-danger">THÔNG TIN KHÁCH HÀNG</h5>
                            <div class="d-flex justify-content-end">
                                <button  th:if="${dataDHCT[0].donHang.trangThai == 'Chờ xác nhận'}" class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#editCustomerModal">Thay đổi thông tin</button>
                            </div>
                            <br><br>
                            <div class="col">
                                <p>Tên khách hàng:
                                    <span class="text-danger"
                                          th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.khachHang != null && dataDHCT[0].donHang.khachHang.tenKhachHang != null ? dataDHCT[0].donHang.khachHang.tenKhachHang : 'Khách hàng lẻ'}"></span>
                                </p>
                                <p>Số điện thoại:
                                    <span class="text-danger"
                                          th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.khachHang != null && dataDHCT[0].donHang.khachHang.soDienThoai != null ? dataDHCT[0].donHang.khachHang.soDienThoai : '...'}"></span>
                                </p>
                            </div>
                            <div class="col">
                                <p>Email:
                                    <span class="text-danger"
                                          th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.khachHang != null && dataDHCT[0].donHang.khachHang.email != null ? dataDHCT[0].donHang.khachHang.email : '...'}"></span>
                                </p>
                                <p>Địa chỉ:
                                    <span class="text-danger"
                                          th:text="${dataDHCT != null && dataDHCT.size() > 0 && dataDHCT[0].donHang != null && dataDHCT[0].donHang.khachHang != null && dataDHCT[0].donHang.khachHang.diaChi != null ? dataDHCT[0].donHang.khachHang.diaChi : '...'}"></span>
                                </p>
                            </div>
                        </div><div class="col">
                        <!-- Nút bật Modal -->

                    </div>

                        <!-- Modal Sua khach hàng-->
                        <div class="modal fade" id="editCustomerModal" tabindex="-1" aria-labelledby="editCustomerModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form th:if="${dataDHCT != null and dataDHCT.size() > 0 and dataDHCT[0].donHang != null and dataDHCT[0].donHang.khachHang != null}" th:action="@{'/update-customer/' + ${dataDHCT[0].donHang.khachHang.id}}" method="post">
                                        <input type="hidden" name="idDonHang" th:value="${dataDHCT[0].donHang.id}">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger" id="editCustomerModalLabel">Thay đổi thông tin khách hàng</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="tenKhachHang" class="form-label">Tên khách hàng</label>
                                                <input type="text" class="form-control" id="tenKhachHang" name="tenKhachHang"
                                                       th:value="${dataDHCT[0].donHang.khachHang.tenKhachHang}" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="soDienThoai" class="form-label">Số điện thoại</label>
                                                <input type="text" class="form-control" id="soDienThoai" name="soDienThoai"
                                                       th:value="${dataDHCT[0].donHang.khachHang.soDienThoai}" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                       th:value="${dataDHCT[0].donHang.khachHang.email}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="diaChi" class="form-label">Địa chỉ</label>
                                                <input type="text" class="form-control" id="diaChi" name="diaChi"
                                                       th:value="${dataDHCT[0].donHang.khachHang.diaChi}">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Sản phẩm -->
                        <br>
                        <hr>
                        <div class="col">
                            <h5 class="text-danger">THÔNG TIN SẢN PHẨM</h5>
                            <div class="d-flex justify-content-end">
                                <button th:if="${dataDHCT[0].donHang.trangThai == 'Chờ xác nhận'}"  class="btn btn-warning mt-3">Thêm sản phẩm</button>
                            </div>
                        </div>
                        <br>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Ảnh</th>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>thanh tien</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="i, stat : ${dataDHCT}">
                                <td th:text="${stat.index + 1}"></td>
                                <td th:text="${i.sanPhamChiTiet.imanges}"></td>

                                <td th:text="${i.sanPhamChiTiet.SanPham.tenSanPham}"></td>
                                <td th:text="${i.soLuong}"></td>
                                <td th:text="${i.gia}"></td>
                                <td th:text="${i.thanhTien}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Velzon.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by Themesbrand
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->

<script>
    function changeStatus(id) {
        fetch(`/donhang/change-status?id=${id}`, {
            method: 'POST',
        })
            .then(response => response.text())
            .then(data => {
                alert(`Trạng thái mới: ${data}`);
                location.reload(); // Tải lại trang để cập nhật giao diện
            })
            .catch(error => console.error('Error:', error));
    }
</script>
<script>
    /**
     * Hiển thị hộp thoại xác nhận.
     * @param {string} message - Nội dung thông báo.
     * @returns {boolean} - Trả về `true` nếu người dùng chọn "OK", ngược lại `false`.
     */
    function confirmAction(message) {
        return confirm(message);
    }
</script>
<script >
    document.getElementById('editCustomerModal').addEventListener('hidden.bs.modal', function () {
        const form = this.querySelector('form');
        form.reset(); // Reset form về trạng thái ban đầu
    });
</script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/simplebar.min.js"></script>
<script src="../js/waves.min.js"></script>
<script src="../js/feather.min.js"></script>
<script src="../js/lord-icon-2.1.0.js"></script>
<script src="../js/plugins.js"></script>

<!-- apexcharts -->
<script src="../js/apexcharts.min.js"></script>

<!-- Vector map-->
<script src="../js/jsvectormap.min.js"></script>
<script src="../js/world-merc.js"></script>

<!--Swiper slider js-->
<script src="../js/swiper-bundle.min.js"></script>

<!-- Dashboard init -->
<script src="../js/dashboard-ecommerce.init.js"></script>

<!-- App js -->
<script src="../js/app.js"></script>
</body>

</html>