<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">
<head>
    <meta charset="UTF-8">
    <title>Quản lý thương hiệu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="images/shoes.png">
    <!-- Thêm Line Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
    <!-- Thêm Material Design Icons CDN -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- Thêm Feather Icon CND -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- Thêm Remix Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Thêm link tới Boxicons CDN -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- jsvectormap css -->
    <link href="css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="css/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    n<!-- Icons Css -->
    <link href="css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="css/custom.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Begin page -->
<div id="layout-wrapper">

    <header id="page-topbar">
        <div class="layout-width">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box horizontal-logo">
                        <a href="/trangchuadmin" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="images/shoes.png" alt="" height="22">
                        </span>
                            <span class="logo-lg">
                             <h1 class="mt-3" style="color: #abb9e8">FSneaker</h1>
                        </span>
                        </a>

                        <a href="/trangchuadmin" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="images/shoes.png" alt="" height="22">
                        </span>
                            <span class="logo-lg">
                             <h1 class="mt-3" style="color: #abb9e8">FSneaker</h1>
                        </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger material-shadow-none" id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    </button>
                </div>

                <div class="d-flex align-items-center">
                    <div class="dropdown ms-sm-3 header-item topbar-user" th:if="${#authentication.name != 'anonymousUser'}">
                        <button type="button" class="btn material-shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img class="rounded-circle header-profile-user" src="images/users/avatar-1.jpg" alt="Header Avatar">
                            <span class="text-start ms-xl-2">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text" th:text="${#authentication.principal.displayName}"></span>
                                <span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text" th:text="${#authentication.principal.role == 'ROLE_ADMIN' ? 'Admin' : (#authentication.principal.role == 'ROLE_MANAGER' ? 'Quản lý' : 'Nhân viên')}">Trưởng nhóm</span>
                            </span>
                        </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" th:if="${#authentication.name != 'anonymousUser'}">
                            <!-- item-->
                            <h6 class="dropdown-header" >Xin chào <span th:text="${#authentication.principal.displayName}"></span></h6>
                            <a class="dropdown-item" href="/thongtinadmin"><i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Thông tin cá nhân</span></a>
                            <a class="dropdown-item" href="/tinnhanadmin"><i class="mdi mdi-message-text-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Tin nhắn</span></a>
                            <a class="dropdown-item" href="/trogiupadmin"><i class="mdi mdi-lifebuoy text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Trợ giúp</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/caidatadmin"><span class="badge bg-success-subtle text-success mt-1 float-end">New</span><i class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Cài đặt</span></a>
                            <a class="dropdown-item" href="/khoamanhinhadmin"><i class="mdi mdi-lock text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Khóa màn hình</span></a>
                            <a class="dropdown-item" href="/logout"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Đăng xuất</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="/trangchuadmin" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="images/shoes.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                         <h1 class="mt-3" style="color: #abb9e8">FSneaker</h1>
                    </span>
            </a>
            <!-- Light Logo-->
            <a href="/trangchuadmin" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="images/shoes.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <h1 class="mt-3" style="color: #abb9e8">FSneaker</h1>
                    </span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>
        <div id="scrollbar">
            <div class="container-fluid">


                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item" sec:authorize="hasRole('MANAGER')">
                        <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Thống kê</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarDashboards">
                            <ul class="nav nav-sm flex-column">


                                <li class="nav-item">
                                    <a href="/trangchuadmin" class="nav-link" data-key="t-ecommerce"> Doanh thu </a>
                                </li>
                            </ul>
                        </div>
                    </li> <!-- end Dashboard Menu -->
                    <li class="nav-item" sec:authorize="hasRole('MANAGER')">
                        <a class="nav-link menu-link" href="#sidebarApps" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApps">
                            <i class="ri-apps-2-line"></i> <span data-key="t-apps">Quản lý</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarApps">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="#sidebarCalendar" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCalendar" data-key="t-calender">
                                        Quản lý thuộc tính
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarCalendar">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="/qlkichthuoc" class="nav-link" data-key="t-main-calender"> Kích thước</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/qlmausac" class="nav-link" data-key="t-month-grid"> Màu sắc </a>
                                            </li>
                                            <li class="nav-item">

                                                <a href="/qlthuonghieu" class="nav-link" > Thương hiệu </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/qlxuatxu" class="nav-link"> Xuất xứ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="/qlsanpham" class="nav-link" data-key="t-sanpham">Quản lý sản phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/qlvoucher" class="nav-link" data-key="t-voucher"> Quản lý voucher </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/qlkhuyenmai" class="nav-link" data-key="t-khuyenmai"> Quản lý chương trình khuyến mãi </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyRole('MANAGER','STAFF')">
                        <a class="nav-link menu-link" href="/don-hang/hien-thi">
                            <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Bán hàng</span>
                        </a>

                    </li> <!-- end Dashboard Menu -->
                    <li class="nav-item" sec:authorize="hasAnyRole('MANAGER','STAFF')">
                        <a class="nav-link menu-link" href="/donhangadmin">
                            <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Đơn hàng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuth">
                            <i class="ri-account-circle-line"></i> <span data-key="t-auth">Tài khoản</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarAuth">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item" sec:authorize="hasAnyRole('MANAGER','ADMIN')">
                                    <a href="/qlnhanvien" class="nav-link" data-key="t-nhanvien"> Nhân viên </a>
                                </li>
                                <li class="nav-item"  sec:authorize="hasAnyRole('MANAGER','STAFF')">
                                    <a href="/qlkhachhang" class="nav-link" data-key="t-khachang"> Khách hàng </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Sidebar -->
        </div>

        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <!-- COde tại đây -->
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title mb-0">Quản lý thương hiệu</h1>
                    </div>
                    <div class="card-body">
                        <form class="" action="/qlthuonghieu/store" method="post" th:object="${thuongHieu}">
                            <div class="row">
                                <div class="col-4">
                                    <label class="form-label">Mã thương hiệu</label>
                                    <input type="text" class="form-control" name="maThuongHieu" th:field="*{maThuongHieu}">
                                    <div th:if="${errors != null && errors.containsKey('maThuongHieu')}" th:text="${errors['maThuongHieu']}" style="color: red;"></div>
                                    <div th:if="${error != null}" th:text="${error}" style="color: red;"></div>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Tên thương hiệu</label>
                                    <input type="text" class="form-control" name="tenThuongHieu" th:field="*{tenThuongHieu}">
                                    <div th:if="${errors != null && errors.containsKey('tenThuongHieu')}" th:text="${errors['tenThuongHieu']}" style="color: red"></div>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Trạng thái</label>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="trangThai" value="1" checked th:checked="${thuongHieu.trangThai == 1}">
                                        <label class="form-check-label" >Hoạt động</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="trangThai" value="0" th:checked="${thuongHieu.trangThai == 0}">
                                        <label class="form-check-label">Ngừng hoạt động</label>
                                    </div>

                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-animation waves-effect waves-light"><i class="ri-add-line"> </i> Thêm</button>
                        </form>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã thương hiệu</th>
                                <th>Tên thương hiệu</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="th,index : ${thieu}" >
                                <td>[[${index.index + 1}]]</td>
                                <td>[[${th.maThuongHieu}]]</td>
                                <td>[[${th.tenThuongHieu}]]</td>
                                <td>[[${th.trangThai == 1 ? "Hoạt động" : "Ngừng hoạt động" }]]</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-animation waves-light waves-effect" data-bs-toggle="modal" th:data-bs-target="'#editModal-' + ${th.id}">
                                        <i class="ri-edit-line"></i> Sửa
                                    </button>

<!--                                     model chỉnh sửa-->
                                    <div class="modal fade" th:id="'editModal-' + ${th.id}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thương hiệu</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{/qlthuonghieu/update}" method="post">
                                                        <input type="hidden" th:value="${th.id}" name="id" />
                                                        <div class="mb-3">
                                                            <label class="form-label">Mã thương hiệu</label>
                                                            <input type="text" class="form-control" th:value="${th.maThuongHieu}" name="maThuongHieu" readonly>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">Thương hiệu</label>
                                                            <input type="text" class="form-control" th:value="${th.tenThuongHieu}" name="tenThuongHieu">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">Trạng thái</label>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" th:checked="${th.trangThai == 1}" name="trangThai" value="1">
                                                                <label class="form-check-label">Hoạt động</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" th:checked="${th.trangThai == 0}" name="trangThai" value="0">
                                                                <label class="form-check-label">Ngừng hoạt động</label>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <!-- Nút Previous -->
                                <li th:if="${thieu.number > 0}" class="page-item">
                                    <a th:href="@{/qlthuonghieu(page=${thieu.number - 1})}" class="page-link">Previous</a>
                                </li>
                                <!-- Hiển thị các số trang -->
                                <li th:each="i : ${#numbers.sequence(0, thieu.totalPages - 1)}" class="page-item"
                                    th:classappend="${i == thieu.number ? 'active' : ''}">
                                    <a th:href="@{/qlthuonghieu(page=${i})}" class="page-link" th:text="${i + 1}">1</a>
                                </li>
                                <!-- Nút Next -->
                                <li th:if="${thieu.number < thieu.totalPages - 1}" class="page-item">
                                    <a th:href="@{/qlthuonghieu(page=${thieu.number + 1})}" class="page-link">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © Velzon.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by Themesbrand
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/waves.min.js"></script>
<script src="js/feather.min.js"></script>
<script src="js/lord-icon-2.1.0.js"></script>
<script src="js/plugins.js"></script>

<!-- apexcharts -->
<script src="js/apexcharts.min.js"></script>

<!-- Vector map-->
<script src="js/jsvectormap.min.js"></script>
<script src="js/world-merc.js"></script>

<!--Swiper slider js-->
<script src="js/swiper-bundle.min.js"></script>

<!-- Dashboard init -->
<script src="js/dashboard-ecommerce.init.js"></script>

<!-- App js -->
<script src="js/app.js"></script>
</body>

</html>